// PRIMARY COLOURS
$dark: #3d3d3d;
$white: #F2F2EC;
$copy-dark: #1A1A1A;

// SECONDARY COLOURS

$grey: #dddddd;
$dark-grey: #706e58; 

// BREAKPOINTS

$tablet-breakpoint:768px;
$desktop-breakpoint: 1280px;