@use '../../styles/font' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.footer {
    display: flex;
    justify-content: center;
    padding: 1rem 3rem 0rem 3rem;
    margin-bottom: 2rem;

    &__icon-container {
        display: flex;
        align-items: center;
    }

    &__icon--fb {
        width: 3rem;
    }

    &__icon {
        width: 3.5rem;
    }
}